fastapi
uvicorn
sqlalchemy
gunicorn
python-jose
bcrypt
passlib
prometheus-fastapi-instrumentator
asyncpg
environ
pytest
pydantic[email]
pydantic-settings
django-environ
psycopg2-binary
python-multipart
httpx
redis
motor==3.1.2
pymongo==4.3.3
mongo-tools
